<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CadastClient.DAO.Properties.Settings.cadast" connectionString="Data Source=TIAGOGALHOTO\SQLEXPRESS;Initial Catalog=sistcadastclient;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>